@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('fonts/Roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto Bold.woff') format('woff');
}

* { padding: 0; margin: 0; border: none; }
html { font-family: Roboto, sans-serif; color: #333; }
body { display: flex; flex-direction: column; min-height: 100vh; }
ul { list-style-type: none; }
a { text-decoration: none; color: #333; }

/*
 * GENERAL
 */

header, footer {
    background-color: #620042;
    color: #eee;
}

header a, footer a { color: #eee; }

header {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 10px;
}

header h1 a {
    line-height: 45px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

header li { padding-left: 15px; padding-right: 15px; }
header li:hover { background-color: #500e3b; }
header ul { display:inline-flex; padding-right: 10px; }

main { display: flex; flex: 1; }

nav { width: 200px; box-shadow: 0 1px 5px #aaa; }
nav li {
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 10px;
}
nav li:hover {
    background-color: #c7c7c7;
    box-shadow: inset 1px 1px 5px #aaa;
}

nav a { display: block; padding-top: 8px; padding-bottom: 8px;}

nav span {
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    padding: 12px 0 10px 45px
}

.menu-item-place span {
    background-image: url(images/action_place_dark.png);
}
.menu-item-task span { background-image: url(images/action_task_dark.png); }
.menu-item-issue span { background-image: url(images/action_issue_dark.png); }
.menu-item-worker span { background-image: url(images/action_up_dark.png); }
.menu-item-group span { background-image: url(images/action_done_dark.png); }

main {
    background: url('images/background.png') center center no-repeat #e6e6e6;
}

.content { flex: 1;  display: flex; }

.content a { color: #620042; }
.content a:hover { text-decoration: underline; }

/**
 * ENTITIES
 */

.entity #loading {
    border-right: none;
    font-weight: normal;
    font-size: 0.8em;
}

.entity #loading img {
    vertical-align:text-bottom;
    margin-right: 5px;
}

.entity table { border-collapse: collapse; border-spacing: 0; flex 2; min-width: 550px; }
.entity table tbody tr:hover { background-color: rgba(215,215,215,0.5); }
.entity table th, .entity table td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.entity table th {
    text-align: right;
    padding-right: 7px;
    border-right: 1px solid #aaa;
    width: 120px;
}

.entity table thead td {
    padding-bottom: 15px;
    padding-top: 15px;
}

.entity table td {
    padding-left: 15px;
    padding-right: 20px;
}

.entity .empty {
    font-size: 0.8em;
    color: gray;
    font-style: italic;
}

.entity input {
    padding: 5px 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    font-weight: inherit;
}

.entity input:hover {
    border-color: #aaa;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 3px #aaa inset;
}

.entity input:focus {
    border-color: #ffbde2;
    background-color: white;
    outline: none;
}

.entity-all table {
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
	width: 97%;
	margin: 10px;
}

.entity-all table tbody tr { border-bottom:1px solid #aaa; }
.entity-all table tbody tr:hover { background-color: rgba(215,215,215,0.5); }
.entity-all table th, .entity-all table td {
    padding-top: 7px;
    padding-bottom: 7px;
	padding-left: 10px;
	text-align: left;
}

.entity-all .children-row {
	border-bottom: none;
}

.entity-all .children-row > td {
	padding: 0;
	margin: 0;
	width: 100% !important;
}

.entity-all .children-row table {
	margin: 0;
	width: 100%;
}

/**
 * PLACE
 */

#place #place-photo {
    flex: 2;
    position: relative;
    border-left: 2px solid #620042;
    background-color: #ffd3ed;
    background-position: center center;
    background-repeat: no-repeat;
	background-image: url(images/no_pic_available.png);
}

#place #place-photo a {
    visibility: hidden;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
	border-radius: 10px;
	top: 5px;
}

#place #place-photo:hover a {
    visibility: visible;
}

#place #place-photo .add {
	left: 5px;
    background-image: url(images/action_add_dark.png);
}

#place #place-photo .modify {
    left: 5px;
    background-image: url(images/action_edit_dark.png);
}

#place #place-photo .delete {
	display: none;
    right: 5px;
    background-image:
    url(images/action_delete_dark.png);
}

#place-all .issues, #place-all .tasks {
	height: 20px;
	padding-left: 25px;
	padding-right: 10px;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
}

#place-all .issues { background-image: url(images/action_issue_dark.png); }
#place-all .tasks { background-image: url(images/action_task_dark.png); }

.first-col { width: 25%; }
.third-col { width: 15%; }
.has-children { cursor: pointer; }
.has-children .first-col:before {
	font-family: monospace;
	content: '[+] ';
}

.open .first-col:before {
	font-family: monospace;
	content: '[-] ';
}

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.8em;
}
