@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('fonts/Roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto Bold.woff') format('woff');
}

* { padding: 0; margin: 0; border: none; }
html { font-family: Roboto, sans-serif; color: #333; }
body { display: flex; flex-direction: column; min-height: 100vh; }
ul { list-style-type: none; }
a { text-decoration: none; color: #333; }

/*
 * GENERAL
 */

header, footer {
    background-color: #620042;
    color: #eee;
}

header a, footer a { color: #eee; }

header {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

header h1 { margin-left: 10px; }

header h1 a {
    line-height: 45px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
	background-size: 40px;
	background-position: 0px 5px;
}

header h1 a:hover { background-color: inherit; }

header a { display: block; padding: 0px 15px; }
header a:hover { background-color: #500e3b; }
header ul { display:inline-flex; padding-right: 10px; }
header li { padding-left: 15px; padding-right: 15px; }

#open-issues, .login-loading {
	display: inline;
	border-radius: 4px;
	background: white;
	padding: 5px 10px;
	color: #620042;
}

main { display: flex; flex: 1; background: url('images/background.png') center center no-repeat #e6e6e6; }

nav { width: 200px; box-shadow: 0 1px 5px #aaa; }
nav li {
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 10px;
}

nav li:hover, input[type='button']:hover {
    background-color: #c7c7c7;
    box-shadow: inset 1px 1px 5px #aaa;
}

nav a { display: block; padding-top: 8px; padding-bottom: 8px; }

nav span {
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    padding: 12px 0 10px 45px
}

nav .current {
	background-color: rgba(255, 211, 237, 0.5);
	box-shadow: inset 2px 1px 3px #aaa;
}

.menu-item-place span { background-image: url(images/action_place_dark.png); }
.menu-item-task span { background-image: url(images/action_task_dark.png); }
.menu-item-issue span { background-image: url(images/action_issue_dark.png); }
.menu-item-worker span { background-image: url(images/action_user_dark.png); }
.menu-item-group span { background-image: url(images/action_group_dark.png); }

.content { flex: 1;  display: flex; align-items: stretch; align-content: stretch; justify-content: space-between; }

.content a { color: #620042; }
.content a:hover { text-decoration: underline; }

.content input, .content select {
    padding: 5px 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
    font-weight: inherit;
	color: inherit;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.content input[type='button'], .content input[type='submit'] {
	width: 175px;
	border-color: #aaa;
	border-width: 1px;
    background-color: auto;
    box-shadow: 1px 1px 1px #aaa;
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #c7c7c7;
	cursor: pointer;
	font-size: 0.9em;
}

.content input:hover, .content select:hover {
    border-color: #aaa;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 3px #aaa inset;
}

.content input:focus, .content select:focus {
    border-color: #ffbde2;
    background-color: white;
    outline: none;
}

.content input[type='button']:focus {
	border-color: #aaa;
	background-color: #c7c7c7;
}

main #loading:before {
	content: url(/images/loading.gif);
	padding-right: 3px;
	vertical-align: middle;
}

/**
 * LOGIN
 */

.login-contents { justify-content: space-around; }
.login-loading {
	background-image: url(/images/loading.gif);
	background-repeat: no-repeat;
	background-position: 7px center;
	padding-left: 27px;
	visibility: hidden;
}

#login-form input {
	padding: 10px;
	margin: 5px 0px;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
	border: 1px solid #aaa;
}

#login-form input[type='button'], #login-form input[type='submit'] {
	border: 1px solid #aaa;
    box-shadow: 1px 1px 1px #aaa;
	text-transform: uppercase;
	cursor: pointer;
	font-size: inherit;
}

#login-form { display: flex; flex-direction: column; justify-content: center; text-align: center; }
#login-form h1 { margin-bottom: 10px; }
#login-form p {
	font-size: 0.8em;
	padding-bottom: 10px;
	width: 250px;
	text-align: left;
}

#login-form input[type='text'], #login-form input[type='password'] { font-size: 0.7em; }
#login-form input[type='submit'] { margin-bottom: 20%; }

/**
 * ENTITIES
 */

.entity #loading {
    border-right: none;
    font-weight: normal;
    font-size: 0.8em;
}

 #loading img {
    vertical-align:text-bottom;
    margin-right: 5px;
}

.entity table {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 550px;
	height: 100%;
}

.entity table tbody tr:hover { background-color: rgba(215,215,215,0.5); }
.entity table th, .entity table td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.entity table th {
    text-align: right;
    padding-right: 7px;
    border-right: 1px solid #aaa;
    width: 120px;
}

.entity table thead td {
    padding-bottom: 15px;
    padding-top: 15px;
}

.entity table td {
    padding-left: 15px;
    padding-right: 20px;
}

.entity .empty {
    font-size: 0.8em;
    color: gray;
    font-style: italic;
}

.entity-all table {
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
	width: 97%;
	margin: 10px;
	height: 100%;
}

.entity-all table tbody tr { border-bottom:1px solid #aaa; }
.entity-all table tbody tr:hover { background-color: rgba(215,215,215,0.5); }
.entity-all table th, .entity-all table td {
    padding-top: 7px;
    padding-bottom: 7px;
	padding-left: 10px;
	text-align: left;
}

.entity .controls { display: flex; justify-content: space-around; padding-right: 0; padding-top: 20px; padding-bottom: 20px; }

.entity #control-ok { background-image: url(images/action_done_dark.png); }
.entity #control-cancel { background-image: url(images/action_cancel_dark.png); }

.delete-row, #hide-location-picker {
	visibility: hidden;
	width: 50px;
	height: 35px;
	margin-left: 10px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	cursor: pointer;
}

.delete-row { background-image: url('images/action_cancel_dark.png'); }
#hide-location-picker { background-image: url('images/action_done_dark.png'); }

tr:hover .delete-row {
	visibility: visible;
}

.right-side {
    flex-grow: 2;
    position: relative;
    border-left: 2px solid #620042;
    background-color: #ffd3ed;
}

/**
 * PLACE
 */

#place-location-link, #issue-location-link { display:flex; }
#show-location-picker { line-height: 35px; }

#place #place-photo {
    background-position: center center;
    background-repeat: no-repeat;
	background-image: url(images/no_pic_available.png);
	text-align: center;
}

#place #place-photo #location-picker, #revisions #location-picker { display: none; }

#place #place-photo.show-location #location-picker,
#revisions.show-location #location-picker {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
}

#place #place-photo div.hidden { visibility: hidden; }

#place #place-photo progress {
	visibility: hidden;
	margin-top: 100px;
}

#place #place-photo a {
    visibility: hidden;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
	border-radius: 10px;
	top: 5px;
}

#place #place-photo:hover a {
    visibility: visible;
}

#place #place-photo .add {
	left: 5px;
    background-image: url(images/action_add_dark.png);
}

#place #place-photo .modify {
    left: 5px;
    background-image: url(images/action_edit_dark.png);
}

#place #place-photo .delete {
	display: none;
    right: 5px;
    background-image:
    url(images/action_delete_dark.png);
}

#place .new-attribute-key { text-align: right; }
#place-all .children-row {
	border-bottom: none;
}

#place-all .children-row > td {
	padding: 0;
	margin: 0;
	width: 100% !important;
}

#place-all .children-row table {
	margin: 0;
	width: 100%;
}

#place-all .issues, #place-all .tasks {
	height: 20px;
	padding-left: 25px;
	padding-right: 10px;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
	display: inline-block;
}

#place-all .issues { background-image: url(images/action_issue_dark.png); }
#place-all .tasks { background-image: url(images/action_task_dark.png); }

.first-col { width: 25%; }
.third-col { width: 17%; }
.has-children { cursor: pointer; }
.has-children > .first-col:before {
	font-family: monospace;
	content: '[+] ';
}

.has-children.open > .first-col:before {
	font-family: monospace;
	content: '[-] ';
}

/**
 * TASK & ISSUE
 */

.taskissue-all thead .header div { display: flex; justify-content: space-between; }
.taskissue-all thead tr:last-child th { cursor: pointer; }

.taskissue-all td.status {
	line-height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center !important;
}

.mark-as-solved {
	display: inline-block;
	visibility: hidden;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url('images/action_done_dark.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	cursor: pointer;
	padding-left: 50px
}

.taskissue-all tbody tr:hover .mark-as-solved { visibility: visible; }

.priority, .status , .time { font-variant: small-caps; }

.priority.high { color: red; }
.priority.medium { color: #c79f00; }
.priority.low { color: green; }

.create.time:before { font-size: 0.8em; content: 'creato: '; line-height: 20px; }
.due.time:before { font-size: 0.8em; content: 'entro: '; line-height: 20px; }
.assign.time:before { font-size: 0.8em; content: 'assegnato: '; line-height: 20px; }

#issue-all .time:before { display:block; }
#issue-all .time { font-size: 0.9em; }

.sorted:after {
	display: inline-block;
	width: 20px;
	height: 15px;
	background-image: url(images/action_down_dark.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	content: " ";
}

.sorted.ascending:after {
	background-image: url(images/action_up_dark.png);
}
.task-issue thead tr:first-child > * { padding-bottom: 0 !important; }
.task-issue #changes td { padding-top: 0; padding-bottom: 10px; font-size: 0.7em; padding-left: 17px; }
.task-issue h3 { padding: 15px; }
#revisions { overflow: auto; }
#revisions li:nth-child(2n+1) { background-color: #ffdcef; }
#revisions li.current {
	background-color: #ccc;
    box-shadow: inset 0px 1px 3px #aaa;
}
#revisions a {
	display: block;
	padding: 5px 0px 5px 10px;
	font-size: 0.8em;
}

.task-issue .assign-time { display: block; font-size: 0.7em; }

#issue-map { flex: 1; }

#issue-photos { white-space: nowrap; overflow-x: auto; max-width: 550px; }
#issue-photos img { padding: 0 1px; }

/**
 * GROUPS
 */

#group-workers tr td { line-height: 35px; }
#group-all .last-column { display:flex; justify-content:space-between; line-height: 35px; }

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.8em;
}
