@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('fonts/Roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto Bold.woff') format('woff');
}

* { padding: 0; margin: 0; border: none; }
html { font-family: Roboto, sans-serif; color: #333; }
body { display: flex; flex-direction: column; min-height: 100vh; }
ul { list-style-type: none; }
a { text-decoration: none; color: #333; }

/*
 * COLORS
 */

header, footer {
    background-color: #620042;
    color: #eee;
}

header a, footer a { color: #eee; }

header {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 10px;
}

header h1 a {
    line-height: 45px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

header li { padding-left: 15px; padding-right: 15px; }
header li:hover { background-color: #500e3b; }
header ul { display:inline-flex; padding-right: 10px; }

main { display: flex; flex: 1; }

nav { width: 200px; box-shadow: 0 1px 5px #aaa; }
nav li {
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 10px;
}
nav li:hover {
    background-color: #c7c7c7;
    box-shadow: inset 1px 1px 5px #aaa;
}

nav a { display: block; padding-top: 8px; padding-bottom: 8px;}

nav span {
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    padding: 12px 0 10px 45px
}

.menu-item-place span {
    background-image: url(images/action_place_dark.png);
}
.menu-item-task span { background-image: url(images/action_task_dark.png); }
.menu-item-issue span { background-image: url(images/action_issue_dark.png); }
.menu-item-worker span { background-image: url(images/action_up_dark.png); }
.menu-item-group span { background-image: url(images/action_done_dark.png); }

main {
    background: url('images/background.png') center center no-repeat #e6e6e6;
}

#content { flex: 1;  display: flex; }

#content a { color: #620042; }
#content a:hover { text-decoration: underline; }

#content #photo {
    flex: 1;
    position: relative;
    border-left: 2px solid #620042;
    background-color: #ffd3ed;
    background-position: center center;
    background-repeat: no-repeat;
}

#content #photo a {
    display: none;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: 0px;
}

#content #photo:hover a {
    display: inline-block;
}

#content #photo .modify {
    left: 0px;
    border-bottom-right-radius: 10px;
    background-image: url(images/action_edit_dark.png);
}

#content #photo .delete {
    right: 0px;
    border-bottom-left-radius: 10px;
    background-image:
    url(images/action_delete_dark.png);
}

#content table { border-collapse: collapse; border-spacing: 0; flex 2; min-width: 580px; }

#content table tbody tr:hover { background-color: rgba(215,215,215,0.5); }

#content table th, #content table td {
    padding-top: 7px;
    padding-bottom: 7px;
}

#content table th {
    text-align: right;
    padding-right: 7px;
    border-right: 1px solid #aaa;
    vertical-align: top;
    width: 120px;
}

#content table thead td {
    padding-bottom: 15px;
    padding-top: 15px;
}

#content table td {
    padding-left: 15px;
    padding-right: 20px;
}

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.8em;
}
