<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formichelli.vineyard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <!-- Take photos -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Write/Read photos from disk -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Client-Server communication -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Issues localization -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Push notifications -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.formichelli.vineyard.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.formichelli.vineyard.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_main"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.formichelli.vineyard.VineyardMainActivity"
            android:label="@string/activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.formichelli.vineyard.LoginActivity"
            android:label="@string/activity_login" >
        </activity>
        <activity
            android:name="com.formichelli.vineyard.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName="com.formichelli.vineyard.VineyardMainActivity" >
        </activity>
        <activity
            android:name="com.formichelli.vineyard.PlacePickerActivity"
            android:label="@string/activity_place_picker"
            android:parentActivityName="com.formichelli.vineyard.VineyardMainActivity" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.formichelli.vineyard" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
        <service android:name="com.formichelli.vineyard.utilities.SendImagesIntent" />

        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider"
            android:permission="signature" />
    </application>

</manifest>